*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body{
    height: 100vh;
    background: url("sanvalentin.jpg") no-repeat center center/cover;
}

/* Capa oscura encima de la imagen */
.overlay{
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenido{
    color: white;
    padding: 40px;
    border-radius: 15px;
    backdrop-filter: blur(8px);
}

h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p{
    font-size: 1.4rem;
    line-height: 1.6;
    color: #ffb6c1;
}
